/* SG
# Glyphs/Style

You may resize and change the colors of the icons with the `glyph-`-classes. Available sizes and colors listed:

```
<p>
    <i class="icon-search glyph-1x"></i>
    <i class="icon-search glyph-1_5x"></i>
    <i class="icon-search glyph-2x"></i>
    <i class="icon-search glyph-3x"></i>
</p>
<p>
    <i class="icon-search glyph-red"></i>
</p>
```
*/
